*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #000000;    /*body background eka black kra*/
    color:#fff;
    
}
#header{      /*hash tag eka use krne header eka id ekak widiyt gttu nisa...*/
    width: 100%;  /*background image dnna use kre header name eka....*/
    height: 100vh;
    background-image: url(black.jpg);  /* background image.........*/
    background-size: cover; 
    background-position: center;
}
.container{
    padding: 10px  10%; 
 
}
  
    /*.................start.................*/
nav{
    display:flex;  
    align-items: center;   
    justify-content: space-around;  /* nav bar eke home,about athara space eka thyla hadana eka */
    flex-wrap: wrap;
  
    
    /*....my change.......*/
    width: 150%; 
    max-width: 1500px; 
    height: 80px;
    background-color: #2ecce1;
    margin-left: -170px;
    margin-top: -10px;
  
  
}
.logo{
    font-style: italic;
    font-size: 40px;
    margin-left: 110px;
    color:  #000000;
    text-shadow: 1px 1px 1px #000000,
    1px 2px 1px #717171,
    1px 3px 1px #ffffff,
    1px 4px 1px #ffffff,
    1px 5px 1px #ffffff,
  
  

   
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);


  
}
     
               /*.....nav bar eke home,button...*/
nav ul li{       
    display:inline-block;
    list-style: none;
    margin: 10px 20px;
    margin-left:60px ;
  
}
nav ul li a{
    color:#000000 ;
    text-decoration: none;
    font-size: 20px;
    position: relative;
   margin-left: 100px;             /* nav bar eke home,about athara space eka thyla hadana eka */
   text-shadow: 1px 1px 1px #000000,
        1px 2px 1px #717171,
        1px 3px 1px #7a7a7a,
        1px 4px 1px #7a7a7a,
        
      
      
    
       
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}
nav ul li a::after{
    content: '';
    width: 0%;     /*..meka 100 kroth underline ekak watenwa..0 dmhma hidden wenw line eka*/
    height: 3px;
    background: #0c0c0c;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
                   /*.....my changes......*/
    transform:transform 0.2s;
    padding: 10% 5%;
    border-radius: 15px;
    color: #ffffff;
    background: rgba(37, 36, 36, 0.874);
  
}
nav ul li a:hover::after{   
  width: 100%;
    
  
}
/*..............end...............*/
.mypic{
 margin-left: 850px;
 margin-top: -50px;
 transform: translateY(-170px); /* This pushes the image upward */
border: 5px solid #23d5ed; /* Replace #FF0000 with the color you desire */

border-radius: 20px;

}



     /*......I'm Niseni ............start...........*/
.header-text{    
    margin-top: 20%;
    font-size: 30px;
}
.header-text br{
text-align: center;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
    font-style: italic;
}
.header-text h1 span{
    color: #1ad5df;
}
/*..............end.........*/


/*----------------about-------------*/

#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;   /*img eka wenas wnw*/
}


.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;   /* about content eka */
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #ffffff;
    font-style: italic;
}
.sub-title-1 {
    margin-left: 450px;
    font-size: 60px;
    font-weight: 600;
    font-style: italic;
}


/*..........tab titles..........*/

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{       /*..........skills,exper,Edu codes............*/
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor:pointer;
    position:relative ;
}
.tab-links::after{
    content: '';
    width: 0;    /* 0 denne hidden krnna */
    height: 3px;
    background: #42c7e5;
    position: absolute;                 /*yatin iri kallak andena eka*/
    left:0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}

/*.....tab contents.....*/
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{     /*about eka yata thyna description eke stylish part eka*/
    color: #4fd0e1;
    font-size: 14px;
}
.tab-contents{      /*skills wlta one nthi ewa hide wnw*/
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* ----------------------services------------------ */   
#services{ 
    padding: 30px 0;
}
.services-list{    /*grid ekk wdhata hduna eka*/
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{   /* services wla kotuwa*/
    background: #262626; 
    padding: 40px; 
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;  /*services wala kotu wala wata raum kra*/
    transition:background 0.5s,transform 0.5s;
}
.services-list div i{   /* icon increase wenwa*/
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{    /*sub title eka*/
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{     /*  links      */
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{    /* about eke clr change wena eka*/
    background: #1e878f;
    transform:translateY(-10px);
}
/* ------------portfolio------ */
#portfolio{
    padding: 50px 0; 
}
.work-list{     /*photo tika grid ekk wdhta wtenne meken*/
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{                                /*photo athare parathare hadila coner eka round wenne methnin*/
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;       /*......my work image ekat cursor eka thibhm pop up wela penaw.......... */
}
.layer{
    width: 100%;
    height: 0%;                    /* clr eka invisible una 0 krta passe*/
    background: linear-gradient(rgba(0,0,0,0.6),#2cc6c8);
    border-radius: 10px;
    position: absolute; 
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);    /*pop up wela pena time eka*/
}
.work:hover .layer{
    height: 100%;
}
.btn{                            /*.....see more btn kotasa........*/
    display: block;
    margin: 50px auto;          
    width: fit-content;                
    border: 1px solid #0fcef0;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s ;
}
.btn:hover{
    background: #39d8e1;
}
/* --------------------contact----------------------- */
.contact-left{       /* contact eke left side eka */
    flex-basis: 35%;
    margin-top: -355px;
}
.contact-left h1{
   font-size:35px;
   margin-top: 55px;
}
.contact-right{     /* form eka paththa*/
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;  

}
.contact-left p i{      
    color: #46e5ed;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;       /*fb,twiteer,instgram,linkin ewa pop up wenne methnin*/
}
.social-icons a:hover{          /* fb,twiteer,instgram,linkin wla hover eka */
    color: #2beff3;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;        /* downld cv and submit butten eka*/
    background: #00e1ff;
}
.contact-right form{
    width: 100%;
}
form input,form textarea{
    width: 100%;
    border: 0;                     /* form eka athule bars tika name email massege seen eka*/
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn.btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: #00e5ff;
}
#msg{
    color: #15e4eb;
    margin-top: -40px;
    display: block;
}
#msg i{
    color: #43c2d3;
}
/* ------------------------css for small screen--------------------- */
nav .fas{
    display: none;
}

@media only screen and (max-width: 600px)
{

    #header{
        background-image: url(phone-background.png);
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #34b3cf;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 14px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
}