* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    font-family: Arial, sans-serif;
    min-height: 80vh;
    display: grid;
    align-items: center;
    place-items: center;
    justify-content: center;
    padding: 45px;
    background: linear-gradient(120deg,#172f5f,#246a9d, #278ea5,#1a305e);
    margin:0;
}

.form {
    max-width: 1100px;
    background-color: #ffffff;
    padding: 25px;
    margin: 30px auto;
    border-radius: 8px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);

    border-top-style: dotted;
  border-bottom-style: dotted;
  border-left-style: double;
  border-left-width: 10px;
  border-left-color: rgb(0, 0, 0);

  border-style: solid;
  border-width: 5px;
  border-color: rgb(16, 13, 13);
  border-radius: 10px;
  padding: 5px;
  
}

.text-center {
    text-align: center;
    margin-bottom: 30px;
}

.three-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; /* Handles spacing between columns */
}

.form-column {
    flex: 1;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #f9f9f9;
}

.input-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    transition: border-color 0.2s;
}

.form-control:focus {
    border-color: #007BFF;
    outline: none;
}

.btn {
    height: 25px;
    width: 70px;
    background-color:  #0f81c3;
    color: #fff;
    font-size: 1rem;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 400;
    transition: all 0.2s ease;
}

.btn:hover {
    background-color:  #456dcc;
}

.btns-group {
    display: flex;
    justify-content: flex-end; /* this will align the button to the left */
    margin-top: 20px;
}

.alert-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
.alert-danger {
    padding: 10px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
}

.home-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000; /* Change this to your preferred color */
    color: white;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    position: fixed; /* This will keep the button at the same position even when you scroll */
    top: 20px; /* Distance from the top */
    right: 20px; /* Distance from the left */
    z-index: 1000; /* This ensures the button is above other elements */
}

.home-btn:hover {
    background-color: #2980b9; /* A slightly darker shade for hover effect */
}
